.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  padding: 30px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  top: 0;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header__title {
  margin-top: 183px;
  line-height: 1.2;
  max-width: 709px;
  font-family: "Inter";
  font-style: "normal";
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__span-accent {
  color: #2f80ed;
  font-style: italic;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  margin-top: 28px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 80px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__paragraph {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
}

.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 100px 80px 215px 80px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  max-width: 580px;
  margin-bottom: 24px;
  margin-top: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.recipes__video-item {
  width: 480px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
